.svg {
  background-color: white;
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
}
#catalog-svg {
  background-color: yellow;
}
#treemap-svg {
  background-color: green;
}
#statemap-svg {
  background-color: red;
}
#objects-svg {
  background-color: blue;
}
/* LANDING PAGE */
#home {
  display: table;
  position: relative;
  width: 100%;
  background: no-repeat center center fixed;
}
#home:before {
  content: " ";
  display: table;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url(/media/cover-img.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.landing-text {
  position: relative;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 10rem 0;
  opacity: 0.9;
}
.landing-text h1 {
  font-size: 500%;
  /* text-shadow: 0 2px 10px rgba(255, 255, 255, 0.6); */
  margin-bottom: 1rem;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 90%;
}
.landing-text p {
  font-size: 1.2rem;
  font-weight: 300;
  padding-left: 15%;
  padding-right: 15%;
  letter-spacing: -0.05rem;
}
.landing-gif {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: 50%;
  height: auto;
}
