@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 60px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 3rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-2rem); /* Account for horizontal padding on navbar */
  }
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
